Author: ibrahim Beylem <validaliy63@gmail.com>
Maintainer: Validaliy 
Name: İnternet Avcıları hack (bit toplama)
Package: com.validaliy.bittopla
Depends: cn.tinyapps.xgpsfree, me.autotouch.autotouch.ios8
Section: Addons (Autotouch)
Installed-Size: 5
Version: 1.2
Architecture: iphoneos-arm
Description: Vodafone internet avcıları  otomatik bit toplama hack
Depiction: https://validaliy.github.io/depic/index.html?p=bittopla

