Author: ibrahim Beylem <validaliy63@gmail.com>
Maintainer: Validaliy <validaliy63@gmail.com>
Name: HomeGesture TR Yama
Package: com.validaliy.TrYama.HomeGesture
Depends: com.vitataf.homegesture
Section: Türkçe Yama
Installed-Size: 9.9
Version: 1.0
Architecture: iphoneos-arm
Description: HomeGesture Türkçe yama
Depiction: https://validaliy.github.io/depic/index.html?p=HomeGestureTrYama
