Name: kent Zil Sesi
Package: com.beylem.ZilSesleri-kent
Section: Ringtones
Depends: com.unlimapps.toneenabler
Installed-Size: 1552
Version: 1.0
Architecture: iphoneos-arm
Description: kent Zil Sesi
Homepage: validaliy.github.io
Author: ibrahim Beylem <validaliy63@gmail.com>
Maintainer: validaliy <validaliy63@gmail.com>
Depiction: https://validaliy.github.io/depic/kent/index.html
