Package: com.validaliy.deezelife
Name: Deezelife
Version: 0.5
Depends: mobilesubstrate
Architecture: iphoneos-arm
Author: julioverne <validaliy63@gmail.com>
Depiction: https://validaliy.github.io/depic
Section: Premium
Description: Deezer’i full yapar
Maintainer: validaliy <validaliy63@gmail.com>
