Author: ibrahim Beylem <validaliy63@gmail.com>
Maintainer: Validaliy <validaliy63@gmail.com>
Name: AutoTouch Türkçe yama
Package: com.validaliy.autotouch-tr-yama
Depends: me.autotouch.autotouch.ios8
Section: Türkçe Yama
Installed-Size: 15.7
Version: 1.0
Architecture: iphoneos-arm
Description: AutoTouch Türkçe yama
Depiction: https://validaliy.github.io/depic/index.html?p=AutoTouchTrYama
