Name: dhoom-dhoom Zil Sesi
Package: com.beylem.ZilSesleri-dhoom-dhoom
Section: Ringtones
Depends: com.unlimapps.toneenabler
Installed-Size: 368
Version: 1.0
Architecture: iphoneos-arm
Description: dhoom-dhoom Zil Sesi
Homepage: validaliy.github.io
Author: ibrahim Beylem <validaliy63@gmail.com>
Maintainer: validaliy <validaliy63@gmail.com>
Depiction: https://validaliy.github.io/depic/dhoom/index.html
